$primary-font:sans-serif;
$primary-size:16px;
$primary-weight: normal;
$primary-color:#323232;

$secondary-font:Lato,sans-serif;
$secondary-size:21px;
$secondary-weight:800;
$secondary-color:#4A4A4A;

$third-font:Roboto,;
$third-weight: 300;





