div h1{
    color: $secondary-color;
    font-family: $primary-font;
    font-size: $secondary-size;
    font-weight: $primary-weight;
}
div h2{
    color: $secondary-color;
    font-family: $primary-font;
    font-size: $secondary-size;
    font-weight: $secondary-weight;
}
div p{
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: $primary-size;
    font-weight: $primary-weight;
}